<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <title>Counter</title>
</head>
<body >
  <h1 class="text-center">Counter</h1>
  <h2 class="text-center"> {{session['count']}} </h2>
  <div class="d-flex justify-content-center">
  <form action='/' method="post">
  <button type="submit" name="alter" value="add" class="btn btn-warning">Hit</button>
  <button type="submit" name="alter" value="reset" class="btn btn-danger">Reset</button>
  </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>